<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="/css/style.css">
  </head>
  <body>
    <h1>No game at the moment</h1>

    <p>We are not hosting a game at the moment, wait for the game to start or contact an adminsitrator.</p>
  </body>
</html>
